attr==0.3.2
colorama==0.4.4
ConfigParser==7.2.0
cryptography==44.0.2
Cython==3.0.12
dl==0.1.0
docutils==0.20.1
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.7.0
jnius==1.1.0
joblib==1.0.1
keyring==25.3.0
matplotlib==3.7.5
numpy==1.24.4
ordereddict==1.1
pandas==2.0.3
Pillow==9.5.0
Pillow==11.1.0
protobuf==3.20.3
pyOpenSSL==25.0.0
pywin32==306
redis==5.2.1
scipy==1.6.1
Sphinx==8.2.3
streamlit==1.40.1
thread==2.0.5
urllib3_secure_extra==0.1.0
wincertstore==0.2.1
xmlrpclib==1.0.1
